<!-- This is the HTML code for the chatbot interface. 
    It is a simple chat interface that allows the user to type a message and 
    send it to the server. The server will then respond with a message. 
    The chatbot will display the user's message on the right side of the screen and the server's response on the left side of the screen. 
-->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">  <!-- CSS for the chatbot interface -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>  <!-- JavaScript for the chatbot interface -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  <!-- JavaScript for the chatbot interface -->

<!DOCTYPE html>    <!-- HTML code for the chatbot interface -->
<html>    
	<head> 
		<title>Chatbot</title>   <!-- Title of the chatbot interface -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">   <!-- CSS for the chatbot interface -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  <!-- CSS for the chatbot interface -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  <!-- JavaScript for the chatbot interface -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>  <!-- CSS for the chatbot interface -->
	</head>
	
	
	<body>
		<div class="container-fluid h-100">   <!-- Container for the chatbot interface -->
			<div class="row justify-content-center h-100">	 	 <!-- Row for the chatbot interface -->
				<div class="col-md-8 col-xl-6 chat">    <!-- Column for the chatbot interface -->
					<div class="card">     <!-- Card for the chatbot interface -->      
						<div class="card-header msg_head">   <!-- Card header for the chatbot interface -->
							<div class="d-flex bd-highlight">  <!-- Flexbox for the chatbot interface -->
								<div class="img_cont">    <!-- Image container for the chatbot interface -->
									<!-- Image for the chatbot interface -->  
									<img src="https://img.freepik.com/premium-vector/aipowered-medical-chatbot-enhanced-healthcare-accessibility_1263357-10978.jpg?w=740" class="rounded-circle user_img">    
									<span class="online_icon"></span>  <!-- Online icon for the chatbot interface -->
								</div>  
								<div class="user_info">  <!-- User information for the chatbot interface -->
									<span>Medical Chatbot</span>  <!-- Title for the chatbot interface -->
									<p>Ask me anything!</p> <!-- Description for the chatbot interface -->
								</div> 
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body"  style="overflow-y: scroll; height: 400px;">  <!-- Card body for the chatbot interface -->
                            <!-- Message container for the chatbot interface -->
                            <div class="d-flex justify-content-start mb-4">  
                                <div class="img_cont_msg"> 
                                    <!-- Image for the chatbot interface -->
                                    <img src="https://www.prdistribution.com/spirit/uploads/pressreleases/2019/newsreleases/d83341deb75c4c4f6b113f27b1e42cd8-chatbot-florence-already-helps-thousands-of-patients-to-remember-their-medication.png" class="rounded-circle user_img_msg">  
                                </div> 
                                <div class="msg_cotainer">Hello, I am a medical chatbot. How can I help you today?</div>  <!-- Message container for the chatbot interface -->  
                            </div> 
							
							
						</div>
						<div class="card-footer">   <!-- Card footer for the chatbot interface -->
							<form id="messageArea" class="input-group">  <!-- Form for the chatbot interface -->
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/> <!-- Input field for the chatbot interface -->
								<div class="input-group-append">    <!-- Input group append for the chatbot interface -->
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>  <!-- Send button for the chatbot interface -->
								</div> 
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>    <!-- JavaScript code for the chatbot interface -->
			$(document).ready(function() {      <!-- Function to run when the document is ready -->
				$("#messageArea").on("submit", function(event) {    <!-- Function to run when the message area is submitted -->
					const date = new Date();     <!-- Get the current date -->
					const hour = date.getHours();  <!-- Get the current hour -->
					const minute = date.getMinutes();  <!-- Get the current minute -->
					const str_time = hour+":"+minute;   <!-- Get the current time -->
					var rawText = $("#text").val();     <!-- Get the raw text from the message area -->

					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					
					$("#text").val("");   <!-- Set the text in the message area to an empty string -->
					$("#messageFormeight").append(userHtml);   <!-- Append the user's message to the message form -->

					$.ajax({     <!-- AJAX request to the server -->
						data: {    <!-- Data to send to the server -->
							msg: rawText,	 <!-- Raw text from the message area -->
						}, 
						type: "POST",   <!-- Type of request -->
						url: "/get",    <!-- URL to send the request to -->
					}).done(function(data) {   <!-- Function to run when the request is done -->
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://www.prdistribution.com/spirit/uploads/pressreleases/2019/newsreleases/d83341deb75c4c4f6b113f27b1e42cd8-chatbot-florence-already-helps-thousands-of-patients-to-remember-their-medication.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';   <!-- HTML code for the bot's message -->
						$("#messageFormeight").append($.parseHTML(botHtml));    <!-- Append the bot's message to the message form -->
					}); 
					event.preventDefault();   <!-- Prevent the default action of the event -->
				});
			});
		</script>
        
    </body>
</html>

